html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    object-fit: contain;
} 

body {
    background-color: rgb(230, 230, 230);
    font-family: rockwell, sans-serif;
    box-sizing: content-box;
    padding-top: 60px;
}

.bar{
    width: 70%;
}
.bar1 {
    width: 80%;
}
.vert{
    color: #044d04;
}
.orange{
    color: rgb(185, 62, 0);
}
hr{
    border: solid 1px rgb(172, 172, 172);
    width: 80%;
}

/*Debut de la partie 1 (Barre de navigation)*/

.navbar{
    background-color: #b4b4b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(68, 68, 68);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 60px;
    transition: all 1s ease;
}
.liensiteweb{
    text-decoration: none;
    color: inherit;
}
#lienpage{
    font-size: 35px;
    padding-left: 2% ;
    transition: all 2.5s ease;
}
nav {
    padding-right: 1.5%;
    transition: opacity 1s ease, visibility 1s ease;
}
nav ul {
    list-style-type: none;
    padding: 0%;
    overflow: hidden;
}
.lienancrenav {
    text-decoration: none;
    color: rgb(185, 62, 0);
    display: block;
    padding: 0 12px;
    font-size: 19px;
}
nav li {
    float: left;
}

/* Fin de la partie 1 (barre de navigation) */


/* Debut de la partie 2 (Section de presentation) */


header{
    width: 100%;
}
.monnom {
    line-height: 1.3;
    font-size: 4.5vw;
    font-weight: 650;
    color: #044104;
    display: block;
    text-align: center;
    width: 100%;
}
.biographie {
    text-align: center;
}

.infofonction {
    font-size: 2.3vw;
}
.lieufonction{
    color: rgb(185, 62, 0);
}
.nomfonction{
    color: rgb(65, 65, 65);
}
.infocontactperso{
    height: 40px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}
.leslogos{
    width: 20%;
    height: 100%;
    object-fit: contain;
}
.infoducontact{
    width: 20%;
    height: 95%;
    overflow: hidden;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: end;
}
.nomdulogo{
    font-size: 22px;
    width: 100%;
    color: black;
    display: flex;
    align-items: end;
    margin-left: 5%;
}
.aproposdemoi {
    align-items: center;
    text-align: center;
    padding: 1.5vw 6vw;
}
.bio{
    color: rgb(71, 71, 71);
}
/* Fin de la partie 2 (Section de presentation) */



/* Debut de la partie 3 (Corps de la page) */


.sect{
    padding: 2%;
    border: solid rgb(131, 131, 131) 1px;
    border-radius: 50px;
}

.volee{
    font-size: 4vw;
    text-transform: uppercase;
    color: #003500;
    padding-left: 2%;
}

.nomdeecole{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.niveau{
    color: rgb(103, 45, 0);
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}
/*DEBUT EDUCATION*/

.level {
    padding-left: 5%;
    font-size: 1.7vw;
}
.corps{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    max-width: 100%;
}

#education, #competence, #projets{
    scroll-margin-top: 75px;
}

.titresemestre {
    font-size: 2vw;
    margin: 1.5%;
    font-weight: bold;
    padding: 1%;
    color: #003500;
}

.sem{
    width: 48%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding: 1%;
}
.infolieu {
    width: 25%;
    border: solid 1px rgb(188, 188, 188);
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
}

.loc{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 7px;
    border-top: solid black 1px;
}

.ecole{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2.3vw;
    height: 75%;
}

.nomdelaformation{
    font-size: 2vw;
    padding-left: 3%;
    color: #0f0284c7;
    text-align: center;
}

.semestreuniversitaire{
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
}

.recit {
    padding: 0 2%;
    text-align: center;
}

.descplicence{
    box-sizing: border-box;
    text-align: center;
    padding: 0 2%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, auto);
    gap: 10px;
    width: 80%; 
    padding: 10px; 
}
.titrecompt {
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    color: black;
}

.infodiplome{
    max-width: 70%;
}
/* FIN EDUCATION*/

/* DEBUT COMPETENCE*/

.competence {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}
/* FIN COMPETENCE*/

/* Fin de la partie 3 (Corps de la page) */
.liendebut{
    text-decoration: none;
    color: inherit;
}
a{
    text-decoration: none;
    align-items: end;
}


.imglogo{
    display: flex;
}

#infoperso{
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
    border: solid black 1px;
    margin-top: 12px;
}

.pers{
    color: rgb(0, 0, 0);
}

.post{
    height: 5vw;
    display: flex;
    border-bottom: solid 1px rgb(152, 152, 152);
    padding-bottom: 2%;
}
.logpro{
    height: 100%;
    width: 20%;
}
.imglogo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.descppro{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    height: 20%;
    width: 90%;
    background: linear-gradient(to right, rgb(54, 103, 57) 60%, white 0%);
    border-radius: 10px;
}
#ligne1{
    background: linear-gradient(to right, rgb(54, 103, 57) 100%, white 0%);
}
#ligne2{
    background: linear-gradient(to right, rgb(54, 103, 57) 100%, white 0%);
}
#ligne3{
    background: linear-gradient(to right, rgb(54, 103, 57) 20%, white 0%);
}
#ligne4{
    background: linear-gradient(to right, rgb(54, 103, 57) 10%, white 0%);
}
#ligne5{
    background: linear-gradient(to right, rgb(54, 103, 57) 12%, white 0%);
}
#ligne6{
    background: linear-gradient(to right, rgb(54, 103, 57) 100%, white 0%);
}
#ligne7{
    background: linear-gradient(to right, rgb(54, 103, 57) 90%, white 0%);
}
#ligne8{
    background: linear-gradient(to right, rgb(54, 103, 57) 80%, white 0%);
}
#ligne9{
    background: linear-gradient(to right, rgb(54, 103, 57) 75%, white 0%);
}
#ligne10{
    background: linear-gradient(to right, rgb(54, 103, 57) 35%, white 0%);
}
#ligne10{
    background: linear-gradient(to right, rgb(54, 103, 57) 35%, white 0%);
}

footer{
    height: 15vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5vw;
}
.tralala {
    display: flex;
    justify-content: space-around;
}
.travail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vw;
}
#horloge {
    width: 5vw;
    height: 5vw;
}

.contenaire1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.lescontactes {
    display: flex;
    width: 25%;
    justify-content: space-between;
} 
.contenaire2{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: rgb(41, 33, 116);
}
.reference{
    box-sizing: border-box;
    text-align: center;
}
.contactfooter {
    display: flex;
    align-items: center;
}
.logofooter {
    width: 3vw;
    height: 3vw;
    object-fit: contain;
    margin-right: 3px;
}


@media screen and (max-width: 790px) and (min-width: 721px) {
    .liensiteweb {
        font-size: 30px;
    }
    .lienancrenav{
        font-size: 15px;
    }
    .sect {
        border-radius: 30px;
    }
}
@media screen and (max-width: 720px) {
    body {
        font-size: 13px;
        padding-top: 7vw;
    }
    .liensiteweb {
        font-size: 4vw;
        display: flex;
        align-items: center;
    }
    .navbar{
        height: 8vw;
    }
    .nav{
        display: none;
    }
    .post {
        height: 10vw;
    }
    .titrecompt{
        font-size: 16px;
    }
    .level {
        font-size: 16px;
        text-align: center;
    }
    .sect {
        border-radius: 0;
    }
    .infolieu {
        border-radius: 0;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
    .infodiplome {
        max-width: 100%;
        box-sizing: border-box;
    }
    .titresemestre {
        font-size: 15px;
        text-decoration: underline;
    }
    .nomdelaformation {
        font-size: 19px;
    }
    .semestreuniversitaire {
        flex-direction: column;
        box-sizing: border-box;
    }
    .nomdulogo {
        font-size: 12px;
        margin-left: 0;
        width: auto;
    }
    .grid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        width: 100%; 
        padding: 2px;
    }
    .sem {
        width: auto;
        background-color: inherit;
        border-radius: 0;
    }
    .ecole{
        font-size: 15px;
    }
    .volee {
        font-size: 25px;
    }
    .niveau {
        font-size: 18px;
    }
    .loc {
        padding-top: 5px;
        margin-top: 3px;
    }
    .nomdeecole {
        flex-direction: column;
        max-width: 100%;
    }
    .monnom {
        font-size: 25px;
    }
    .infofonction {
        font-size: 18px;
    }
    .aproposdemoi {
        padding: 0;
    }
    footer{
        height: auto;
        font-size: 12px;
        width: 100%;
        padding: 5px 0;
    }
    .logofooter {
        width: 20px;
        height: 20px;
    }
    .lescontactes {
        width: 60%;
    }
    .infocontactperso{
        height: 20px;
    }
    .leslogos {
        width: 30%;
    }
    .infoducontact {
        width: 30%;
        
    }
    .travail {
        height: 50vw;
    }
  }
