body {
  background-color: rgb(230, 230, 230);
  font-family: rockwell, sans-serif;
  box-sizing: content-box;
  font-size: xx-large;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
